<html>

<head></head>

<body>
  <h1>Recycle</h1>
  <p>#Trash: 0</p>
  <div style="clear: both; height: 30px;">glass</div>
  <div style="clear: both; height: 30px;">glass</div>
  <div style="clear: both; height: 30px;">paper</div>
  <div style="clear: both; height: 30px;">organic</div>
  <div style="clear: both; height: 30px;">glass</div>
  <div style="clear: both; height: 60px;">
    <div style="float:left; height:80px">
      <div style="float:left; width: 50px; height: 80px"><a href="/container?=paper"><img
            src="http://nadia.cat/reciclaje/paper.jpg" width="50px"></a><span>0 / 5</span></div>
    </div>
    <div style="float:left; height:80px">
      <div style="float:left; width: 50px; height: 80px"><a href="/container?=glass"><img
            src="http://nadia.cat/reciclaje/glass.jpg" width="50px"></a><span>0 / 6</span></div>
    </div>
    <div style="float:left; height:80px">
      <div style="float:left; width: 50px; height: 80px"><a href="/container?=plastic"><img
            src="http://nadia.cat/reciclaje/plastic.jpg" width="50px"></a><span>0 / 7</span></div>
    </div>
    <div style="float:left; height:80px">
      <div style="float:left; width: 50px; height: 80px"><a href="/container?=organic"><img
            src="http://nadia.cat/reciclaje/organic.jpg" width="50px"></a><span>0 / 7</span></div>
    </div>
  </div><a href="/truck?empty=1" style="float:left;"> <img src="http://nadia.cat/reciclaje/camion.png" width="80px">
  </a>
</body>

</html>